/********************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/********************************************/

:root {
    --main-blue: rgb(41, 177, 221);
  }

/********************************************/

.title {
    color: var(--main-blue);
}

/********************************************/



/********************************************/



/********************************************/