/********************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

/********************************************/

:root {
    --main-color: rgb(91, 25, 214);
}

/********************************************/

.title {
    color: var(--main-color);
    padding-top: 2rem;
    padding-left: 10px;
    font-size: 2.5rem;
}

.nav {
    width: 100%;
    height: 70px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    max-height: 20px;
    margin-left: 10px;
}


/********************************************/



/********************************************/



/********************************************/